
.main {
  
  background: rgb(255, 255, 255);
  padding-top: 3rem;
  color: black;
  
}

.container1{
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  
  align-items: center;
  margin-left: 4rem;
}

.container2 {
  width: 10rem;
  display: flex;
  width: 16rem;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.container2 img {
  display: flex;
  height: 3.5rem;
  width: 3.5rem;
  padding-bottom: 1.2rem;
  padding-left: 6rem;
}

.title1 {
  font-family: Inter;
  font-size: 1.3rem;
  text-align: center;
  color: black;
  width: 15rem;
  padding-bottom: 0.5rem;
}

.subtitle2 {
  font-size: 1rem;
  font-family: Lora;
  text-align: center;
  color: black;
}

.container3 {
  height: auto;
  background-color: #0b72aa;
  color: white;
  text-align: center;
  margin-top: 5rem;
}

.boxC3 {
  
  height: 30rem;
  width: auto;
  display: block;
  padding-top: 1rem;
  margin: 0rem 20rem 0rem 20rem;
}

.titleC3 {
margin-top: 3rem;
padding-bottom: 2rem;
font-family: inherit;
font-size: 3.5rem;
font-weight: 600;

}


.textC3 {
  color: white;
  font-size: 1.5rem;
  width: 55rem;
}

.subTextC3 {
  padding-top: 3rem;
  font-size: 1.25rem;
  font-weight: 700;
  width: 55rem;
  font-style: italic;

}

.container4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, 45rem);
  height: 20rem;
  align-items: center;
  margin-left: 10rem;
}

.container4 img {
  display: flex;
  height: 10.5rem;
  width: 10.5rem;
  padding-bottom: 1.2rem;
  padding-left: 17rem;
}